<!-- Blur -->
<div class="blur-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nostrum?</div>
<div class="blur">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nostrum?</div>
<img class="blur-xl bg-cover w-[300px]" src="<%= asset_path('tree-house.jpg') %>" alt="" />

<!-- Brightness -->
<img class="w-[300px] bg-cover brightness-50" src="<%= asset_path('tree-house.jpg') %>" alt="" />
<img class="w-[300px] bg-cover brightness-75" src="<%= asset_path('tree-house.jpg') %>" alt="" />
<img class="w-[300px] bg-cover brightness-100" src="<%= asset_path('tree-house.jpg') %>" alt="" />
<img class="w-[300px] bg-cover brightness-200" src="<%= asset_path('tree-house.jpg') %>" alt="" />

<!-- Contrast -->
<img class="w-[300px] bg-cover contrast-0" src="<%= asset_path('robot.jpg') %>" alt="" />
<img class="w-[300px] bg-cover contrast-50" src="<%= asset_path('robot.jpg') %>" alt="" />
<img class="w-[300px] bg-cover contrast-75" src="<%= asset_path('robot.jpg') %>" alt="" />
<img class="w-[300px] bg-cover contrast-150" src="<%= asset_path('robot.jpg') %>" alt="" />

<!-- Grayscale -->
<img class="w-[300px] bg-cover grayscale" src="<%= asset_path('robot.jpg') %>" alt="" />

<!-- Invert -->
<img class="w-[300px] bg-cover invert" src="<%= asset_path('robot.jpg') %>" alt="" />

<!-- Sepia -->
<img class="w-[300px] bg-cover sepia" src="<%= asset_path('robot.jpg') %>" alt="" />

<!-- Hue Rotate -->
<img class="w-[300px] bg-cover hue-rotate-15" src="<%= asset_path('robot.jpg') %>" alt="" />
<img class="w-[300px] bg-cover hue-rotate-60" src="<%= asset_path('robot.jpg') %>" alt="" />
<img class="w-[300px] bg-cover hue-rotate-90" src="<%= asset_path('robot.jpg') %>" alt="" />
<img class="w-[300px] bg-cover -hue-rotate-180" src="<%= asset_path('robot.jpg') %>" alt="" />

<!-- Blur
  blur-none	    filter: blur(0);
  blur-sm	      filter: blur(4px);
  blur	        filter: blur(8px);
  blur-md	      filter: blur(12px);
  blur-lg	      filter: blur(16px);
  blur-xl	      filter: blur(24px);
  blur-2xl	    filter: blur(40px);
  blur-3xl	    filter: blur(64px);
-->

<!-- Brightness
  brightness-0	    filter: brightness(0);
  brightness-50	    filter: brightness(.5);
  brightness-75	    filter: brightness(.75);
  brightness-90	    filter: brightness(.9);
  brightness-95	    filter: brightness(.95);
  brightness-100	  filter: brightness(1);
  brightness-105	  filter: brightness(1.05);
  brightness-110	  filter: brightness(1.1);
  brightness-125	  filter: brightness(1.25);
  brightness-150	  filter: brightness(1.5);
  brightness-200	  filter: brightness(2);
-->

<!-- Contrast
  contrast-0	  filter: contrast(0);
  contrast-50	  filter: contrast(.5);
  contrast-75	  filter: contrast(.75);
  contrast-100	filter: contrast(1);
  contrast-125	filter: contrast(1.25);
  contrast-150	filter: contrast(1.5);
  contrast-200	filter: contrast(2);
-->

<!-- Hue Rotate
  hue-rotate-0	    filter: hue-rotate(0deg);
  hue-rotate-15	    filter: hue-rotate(15deg);
  hue-rotate-30	    filter: hue-rotate(30deg);
  hue-rotate-60	    filter: hue-rotate(60deg);
  hue-rotate-90	    filter: hue-rotate(90deg);
  hue-rotate-180	  filter: hue-rotate(180deg);
-->
